<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<title>Document</title>
</head>
<body>
	<footer>
		<section id="footer">
			<div class="main-footer">
			  <div class="logoinfo" data-aos="fade-up">
				<h4>Cellule de Promotion Informatique</h4>
				<p>Que Dieu vous bénisse !</p>
		  
				<div class="contact-details">
				  <h1>Contactez - Nous </h1>
				  <li>
					<div class="fa fa-phone"></div><a href="https://wa.me/2250505081679?text=Bonjour, je voudrais avoir plus d'informations sur vos formations." target="_blank" target="_blank">
						+225 05 05 08 16 79
					  </a></li>
				  <li>
					<div class="fa fa-envelope"></div><a href="mailto:cellulepro@gmail.com">cellulepro@gmail.com</a></li>
				  </li>
			  </div>
			</div>
			<div class="com " data-aos="fade-up">
			  <h1>Plan</h1>
			  <ul>
				<li><a href="#">Accueil</a></li>
				<li><a href="#">Apropos</a></li>
				<li><a href="#">Formations</a></li>
				<li><a href="#">Contact</a></li>
			  </ul>
			</div>
			<div class="info" data-aos="fade-up">
			  <h1>Social Media</h1>
			  <div class="sociallogos">
				<div class="logobox">
				  <a href="#" class="linkedin"><img src="{% static 'images/linkedin_3536505.png' %}" alt="icon.png" /></a>
				  <a href="https://web.facebook.com/p/Cellule-de-Promotion-Informatique-100064342530156/?paipv=0&eav=AfYBm7sS1Or2qoQbbuMq3kD7CLiaDLPfxY1vORWZoj8ju_fjgk8W2w9f035mUDBAha8&_rdc=1&_rdr" class="linkedin"><img src="{% static 'images/facebook.png' %}" alt="icon.png" /></a>
				  <a href="#" class="linkedin"><img src="{% static 'images/youtube_3938026.png' %}" alt="icon.png" /></a>
				</div>
			  </div>
			</div>
			</div>
		  <footer>© <strong>Cellule de Promotion Informatique</strong> All Rights Reserved</footer>
		  </section>
	</footer>
</body>
</html>