{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="formation-detail">
            <img src="{{ formation.image.url }}" alt="{{ formation.name }}" class="img-fluid">
            <div class="formation-info">
                <h1>{{ formation.name }}</h1>
                <p><strong>Description :</strong> {{ formation.description }}</p>
               
                <button class="btn btn-outline-secondary"><a href="https://wa.me/2250505081679?text=Bonjour, je voudrais avoir plus d'informations sur vos formations." target="_blank" target="_blank">Écrivez-nous sur WhatsApp</a></button>            
            </div>
        </div>
    </div>
<style>
.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.formation-detail {
    display: flex;
    flex-direction: column; /* Présentation verticale */
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.formation-detail img {
    width: 40%;
    max-width: 100%; /* Assure que l'image ne dépasse jamais la largeur du conteneur */
    margin-top: 20px;
    margin-bottom: 20px;
}

.formation-info {
    width: 50%;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    color: #555;
    text-align: justify;
    margin-bottom: 20px;
}

.btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: block; /* S'assure que le bouton occupe tout l'espace s'il le faut */
    width: 100%; /* Prend toute la largeur par défaut */
    max-width: 300px; /* Limite la largeur sur les grands écrans */
    text-align: center;
    margin:  0 auto;
}

.btn:hover {
    background-color: darkgreen;
}

.btn a {
    color: white;
    text-decoration: none;
}

/* Styles pour les tablettes */
@media (max-width: 768px) {
    .container {
        width: 90%;
        margin-top: 10px;
    }

    .formation-detail img {
        width: 80%; /* L'image s'agrandit un peu sur les tablettes */
    }

    .formation-info {
        width: 100%; /* Le texte occupe plus d'espace */
    }

    .btn {
        width: 100%; /* Le bouton occupe toute la largeur */
    }
}

/* Styles pour les petits écrans (téléphones) */
@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .formation-detail img {
        width: 80%; /* L'image est plus grande pour être lisible */
    }

    .formation-info {
        width: 100%; /* Le texte prend toute la largeur */
    }

    .btn {
        width: 100%; /* Le bouton prend toute la largeur */
    }

    h1 {
        font-size: 1.5rem; /* Réduit la taille du titre */
    }

    p {
        font-size: 1em; /* Ajuste la taille du texte */
    }
}


</style>
{% endblock%}