{% extends "base.html" %}
{% load static %}
{% block content %}

  <div id="carouselExampleControls" class="carouselslide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/medium-shot-women-working-together (1).jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/black-woman-adult-student-working-computer-class (4).png' %}" class="d-block w-100" alt="black-woman-adult-student-working-computer-class (4).png">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/salle.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--  DEBUT DE LA SECTION HERO -->
<section class="hero">
  <div  class="container my-4">
    <div  class="row">
      <div class="col-lg-6">
        <img  class="small-image"   class="w-100 shadow" src="{% static 'images/photodemrAke.jpg' %}" />
      </div>
      <div class="col-lg-6">
        <div class="p-5 mt-4">
            <h3 class="display-4">Mot du directeur</h3>
            <p class="leader">La <strong>Cellule de Promotion Informatique</strong>  est une structure spécialisée dans la formation et le renforcement des capacités de tous ceux ou celles qui désirent maîtriser et avoir une grande expertise dans le domaine de l’informatique et de l’Internet.
              Elle dispose d’hommes et de matériels de qualité qui lui permettent d’offrir à tout moment des formations personnalisées.
              C’est une structure qui a plus de 20 ans d’expérience et dont la rigueur et la pédagogie lui ont valu une renommée et un respect dans son domaine d’activité.
              Notre objectif est de permettre à tous ceux et celles qui le souhaitent, de maîtriser les nouvelles technologies et d’avoir une grande connaissance dans les domaines de l’informatique et de l’Internet.
              Désormais l’ordinateur et sa science informatique ont un nom : La Cellule de Promotion Informatique. 
              Que Dieu vous bénisse !
               </p>
          
          </div>
      </div>
  </div>
</section>
<!--  FIN DE LA SECTION HERO -->
<!--  DEBUT DE LA SECTION PROGRAMME -->
<section class="programme">
  <div class="text_programme">
    <h3 class="display-4">Le programme</h3>
    <p>
      CPI, c'est une école de formation en informatique d'excellence pour tous et toutes.<br>
      Au programme de cette école différente et
      innovante : une approche par la pratique <br> pour progresser et développer des compétences techniques et humaines recherchées <br> sur le marché du travail.
  </p>
  </div>
</section>
<!--  FIN DE LA SECTION PROGRAMME -->

<!--  DEBUT DE LA SECTION CARDS -->
<section class="icones">
  <div class="container">
    <div class="card">
      <div class="card__icon">
        <img src="{% static 'images/flexible.png' %}" alt="icon.png" />
      </div>
      <h6>Emplois du temps Flexible</h6>
    </div>
    <div class="card selected">
      <div class="card__icon">
        <img src="{% static 'images/training.png' %}" alt="icon.png" />
      </div>
      <h6>Formation en présentiel</h6>

    </div>
    <div class="card">
      <div class="card__icon">
        <img src="{% static 'images/pay.png' %}" alt="icon.png" />
      </div>
      <h6>Moyen de paiement Flexible</h6>
    </div>
     <div class="card">
      <div class="card__icon">
        <img src="{% static 'images/smartphone.png' %}" alt="icon.png" />
      </div>
      <h6>Formation certifiante</h6>
    </div>
  </div>
</section>
<!--  FIN DE LA SECTION CARDS -->
<!-- DEBUT DE LA SECTION NOS VALEURS -->
<section class="valeurs">
  <div class="container_valeurs">
    <div class="card1">
      <img src="{% static 'images/coupler (1).png' %}" alt="icon.png" />
      <h6>Accessible a tous</h6>
  </div>
  <div class="card1">
    <img src="{% static 'images/sans-instruction (1).png' %}" alt="icon.png" />
    <h6>Pas bésoin d'avoir <br> un diplôme</h6>
  </div>
  <div class="card1">
    <img src="{% static 'images/cerveau.png' %}" alt="icon.png" />
    <h6>Pas bésoin d'avoir <br> les bases</h6>
  </div>
 
</section>
{% endblock %}
