{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/medium-shot-women-working-together (1).jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/black-woman-adult-student-working-computer-class (4).png' %}" class="d-block w-100" alt="black-woman-adult-student-working-computer-class (4).png">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/salle.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {% comment %} debut Section Hero ou le directeur parle avec sa photo {% endcomment %}
<section class="largeur">
    <section class="hero">
      <div class="picture">
        <img src="{% static 'images/photodemrAke.jpg' %}" alt="photodemrAke.jpg">
      </div>
  <div>
    <h1>Robbie Lens Photographie</h1>
    <p>Bienvenue à la Cellule de Promotion  Informatique !
      Notre centre se consacre à l'excellence dans le domaine de l'informatique. Nous offrons une gamme complète de programmes, des bases de l'informatique aux technologies avancées comme l'intelligence artificielle et la cybersécurité, tous élaborés par des experts du secteur.
      Notre mission est de fournir une formation de qualité, axée sur des compétences pratiques et adaptées aux évolutions technologiques. Nos formateurs expérimentés sont là pour vous guider et vous préparer aux défis du marché du travail.
      En rejoignant notre centre, vous accédez à un réseau professionnel étendu, ouvrant des opportunités de stages et d'emplois dans des entreprises de premier plan.
      Explorez notre site pour en savoir plus sur nos programmes et services. N'hésitez pas à nous contacter pour toute question.</p>
  </div>

  </section>
</section>
{% comment %} debut Section Hero ou le directeur parle avec sa photo {% endcomment %}
{% endblock %}
