{% extends "base.html" %}
{% load static %}
{% block content %}

  <!-- <div id="carouselExampleControls" class="carouselslide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/medium-shot-women-working-together (1).jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/black-woman-adult-student-working-computer-class (4).png' %}" class="d-block w-100" alt="black-woman-adult-student-working-computer-class (4).png">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/salle.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
<div class="banier_image">
<div class="banier">
  <div class="text_banier">
    <h1>Maîtrisez <br>les Nouvelles  <br>Technologies <br> avec 20 Ans d'Expertise :</h1> <h4>Rejoignez la Cellule de Promotion Informatique</h4>
  </div>
  <div class="picture_banier">
    <img src="{% static 'images/18383.jpg' %}">
  </div>
</div>
</div>
  <!--  DEBUT DE LA SECTION HERO -->
<section class="hero">
  <div  class="container my-4">
    <div  class="row">
      <div class="col-lg-6">
        <img  class="small-image"   class="w-100 shadow" src="{% static 'images/photodemrAke.jpg' %}" />
      </div>
      <div class="col-lg-6">
        <div class="">
            <h3 class="display-4">Mot du directeur</h3>
            <p class="leader">La Cellule de Promotion Informatique est spécialisée dans la formation et le renforcement des compétences en informatique et Internet. Forte de plus de 20 ans d'expérience, 
              elle offre des formations personnalisées avec des experts et des équipements de qualité. Notre objectif est d'aider chacun à maîtriser les nouvelles technologies et à exceller en informatique.
              La Cellule de Promotion Informatique, un nom reconnu dans le domaine. Que Dieu vous bénisse !</p>
          
          </div>
      </div>
  </div>
</section>
<!--  FIN DE LA SECTION HERO -->
<!--  DEBUT DE LA SECTION PROGRAMME -->
<section class="programme">
  <div class="text_programme">
    <h3 class="display-4">Le programme</h3>
    <p>
      La <strong>Cellule de Promotion Informatique </strong> est un cabinet de formation qui prône <strong>l'excellence</strong> et valorise <strong>la formation pour tous </strong> à un <strong>tarif préferentiel</strong>.
      Elle allie <strong>innovation</strong> et <strong>téchnologie</strong> pour permettre aux auditeurs d'apprendre et de maîtriser les outils modernes.

  </p>
  </div>
</section>
<!--  FIN DE LA SECTION PROGRAMME -->

<!--  DEBUT DE LA SECTION CARDS -->
<section class="icones">
  <div class="container">
    <div class="card">
      <div class="card__icon">
        <img src="{% static 'images/flexible.png' %}" alt="icon.png" />
      </div>
      <h6>Emplois du temps Flexible</h6>
    </div>
    <div class="card selected">
      <div class="card__icon">
        <img src="{% static 'images/training.png' %}" alt="icon.png" />
      </div>
      <h6>Formation en présentiel</h6>

    </div>
    <div class="card">
      <div class="card__icon">
        <img src="{% static 'images/pay.png' %}" alt="icon.png" />
      </div>
      <h6>Moyen de paiement Flexible</h6>
    </div>
     <div class="card">
      <div class="card__icon">
        <img src="{% static 'images/smartphone.png' %}" alt="icon.png" />
      </div>
      <h6>Formation certifiante</h6>
    </div>
  </div>
</section>
<!--  FIN DE LA SECTION CARDS -->
<!-- DEBUT DE LA SECTION NOS VALEURS -->
<section class="valeurs">
  <div class="container_valeurs">
    <div class="card1">
      <img src="{% static 'images/coupler (1).png' %}" alt="icon.png" />
      <h6>Accessible a tous</h6>
  </div>
  <div class="card1">
    <img src="{% static 'images/sans-instruction (1).png' %}" alt="icon.png" />
    <h6>Pas bésoin d'avoir <br> un diplôme</h6>
  </div>
  <div class="card1">
    <img src="{% static 'images/cerveau.png' %}" alt="icon.png" />
    <h6>Pas bésoin d'avoir <br> les bases</h6>
  </div>
 <!-- FIN DE LA SECTION NOS VALEURS -->
</section>
<!-- DEBUT DE LA SECTION NOS FORMATIONS -->
<section class="formations">
  <div class="text_nos_formations">
    <h3 class="display-4_texte">Nos formations certifiantes de la <strong>Cellule de Promotion Informatique</strong></h3>
  </div>
  <div class="les_formations">
    <div class="row">
      {% for formation in formations %}
      <div class="col-lg-3">
        <img src="{{ formation.image.url}}" alt="formation.png" />
        <div class="box-elemen text">
          <h6>{{ formation.name }}</h6>
          <hr>
          <p>{{formation.description}}</p>
          <button class="btn btn-outline-secondary">En savoir plus</button>
        </div>
      </div>
      
      {% endfor %}    
    </div>
  </div>
</section>
<section class="apprenantsretour">
  <div class="text_nos_formations">
    <h3 class="display-4_texte">Ce que disent nos apprenants de la <strong>Cellule de Promotion Informatique</strong></h3>
  </div>
</section>
<section class="espace">

</section>
<!-- CE QUE DISENT NOS APPRENANTS -->
  <section class="cardarticle">
    <div class="text-content">
      <h3>Mamoudou Diallo</h3>
      <p>"Les formations que j'ai suivies à la <strong>Cellule de Promotion Informatique</strong>, notamment en <strong>Word-Excel</strong>, <strong>développement web</strong>, et <strong>développement Windev</strong>, ont été enrichissantes. Les cours étaient bien structurés, et les instructeurs compétents. Je recommande ce centre à quiconque souhaite renforcer ses compétences en informatique."</p>  
      <!-- <a href="#">Join now</a> -->
    </div>
    <div class="visual">
      <img src="{% static 'images/Mamoud1.jpg' %}" alt="" />
    </div>
  </section> 
<article>
  <section class="cardarticle">
    <div class="text-content">
      <h3><strong>Justine N'guessan </strong> </h3>
      <h6>Caissière au Dispensaire Diocésain Sœur Catherine</h6>
      <p>"La formation en caissière spécialisée à la Cellule de Promotion Informatique m'a donné les compétences essentielles pour gérer efficacement les transactions et les outils de caisse. Elle m'a aussi aidé à améliorer mon service client, ce qui a fait toute la différence dans mon travail actuel. Je recommande vivement cette formation."</p>  
    </div>
    <div class="visual">
      <img src="{% static 'images/NGUESSAN.jpg' %}" alt="" />
    </div>
  </section> 

  <section class="cardarticle">
    <div class="text-content">
      <h3><strong>Gbaha Christelle </strong></h3>
      <h6> stagiaire au supermarché Proxy market Yopougon</h6>
      <p>"La formation en caissière spécialisée à la Cellule de Promotion Informatique m'a donné les compétences nécessaires pour gérer les transactions et outils de caisse au supermarché Proxy Market, Yopougon. Elle a aussi amélioré mon service client, un atout dans mon stage actuel. Je recommande cette formation."</p>  
    </div>
    <div class="visual">
      <img src="{% static 'images/CRISTELLE.jpg' %}" alt="" />
    </div>
  </section>  
</article>
<section class="Information_localisation">
   <div class="localisation">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.4741063424262!2d-4.078477711145039!3d5.344361600000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1c1e6f8663eed%3A0x2b36d5bb21ddd619!2sChantier%20Cathedrale%20Saint%20Andr%C3%A9%20Yopougon!5e0!3m2!1sfr!2sci!4v1725309389795!5m2!1sfr!2sci" width="600" height="450" style="border:0;" allowfullscreen="true" 
    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div>
</section>
<!-- FIN DE LA SECTION NOS FORMATIONS -->

<!-- DEBUT FOOTER -->
 
{% endblock %}
